@import 'tailwindcss';

/* Highlighted search terms */
em {
  font-style: normal;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
}

/* Light mode */
:root em {
  background-color: rgb(219 234 254); /* blue-100 */
  color: rgb(29 78 216); /* blue-700 */
}

/* Dark mode */
.dark em {
  background-color: rgb(236 72 153); /* pink-500 */
  color: white;
}
