@import 'tailwindcss';

/* Highlighted search terms */
em {
  font-style: normal;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
}

/* Light mode */
:root em {
  background-color: none;; /* blue-100 */
  color: rgb(29 78 216); /* blue-700 */
}

/* Dark mode */
.dark em {
  background-color:  none;/* pink-500 */
  color: rgb(236 72 153);
}
